node_modules
.next/
.env.local
node_modules
.next/
.env.local
.env*.local
tsconfig.tsbuildinfo
*.log

.vercel
.env*.local
public/shopify/plantilla23.rar
src/templates/plantilla23.rar
plantilla23.rar
*.rar
.env*
