@font-face {
  font-family: Jost;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(https://noble-preview.myshopify.com/assets/fonts/noble-preview.myshopify.com/cdn/fonts/jost/jost_n4.d47a1b6347ce4a4c9f437608011273009d91f2b7.woff2) format("woff2"),
       url(https://noble-preview.myshopify.com/assets/fonts/noble-preview.myshopify.com/cdn/fonts/jost/jost_n4.791c46290e672b3f85c3d1c651ef2efa3819eadd.woff) format("woff");
}

  @font-face {
  font-family: Jost;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(https://noble-preview.myshopify.com/assets/fonts/noble-preview.myshopify.com/cdn/fonts/jost/jost_n7.921dc18c13fa0b0c94c5e2517ffe06139c3615a3.woff2) format("woff2"),
       url(https://noble-preview.myshopify.com/assets/fonts/noble-preview.myshopify.com/cdn/fonts/jost/jost_n7.cbfc16c98c1e195f46c536e775e4e959c5f2f22b.woff) format("woff");
}

  @font-face {
  font-family: Jost;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(https://noble-preview.myshopify.com/assets/fonts/noble-preview.myshopify.com/cdn/fonts/jost/jost_i4.b690098389649750ada222b9763d55796c5283a5.woff2) format("woff2"),
       url(https://noble-preview.myshopify.com/assets/fonts/noble-preview.myshopify.com/cdn/fonts/jost/jost_i4.fd766415a47e50b9e391ae7ec04e2ae25e7e28b0.woff) format("woff");
}

  @font-face {
  font-family: Jost;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url(https://noble-preview.myshopify.com/assets/fonts/noble-preview.myshopify.com/cdn/fonts/jost/jost_i7.d8201b854e41e19d7ed9b1a31fe4fe71deea6d3f.woff2) format("woff2"),
       url(https://noble-preview.myshopify.com/assets/fonts/noble-preview.myshopify.com/cdn/fonts/jost/jost_i7.eae515c34e26b6c853efddc3fc0c552e0de63757.woff) format("woff");
}

  @font-face {
  font-family: Jost;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url(https://noble-preview.myshopify.com/assets/fonts/noble-preview.myshopify.com/cdn/fonts/jost/jost_n5.7c8497861ffd15f4e1284cd221f14658b0e95d61.woff2) format("woff2"),
       url(https://noble-preview.myshopify.com/assets/fonts/noble-preview.myshopify.com/cdn/fonts/jost/jost_n5.fb6a06896db583cc2df5ba1b30d9c04383119dd9.woff) format("woff");
}


  :root {
    /* FONTS */
    --font-body-family: Jost, sans-serif;
    --font-body-style: normal;
    --font-body-weight: 400;
    --font-body-weight-bold: 700;

    --font-heading-family: Jost, sans-serif;
    --font-heading-style: normal;
    --font-heading-weight: 500;

    --font-body-scale: 1.0;
    --font-heading-scale: 1.0;

    /* CONTAINER */
    --container: 1920px;

    /* GRID SPACINGS */
    --column-spacing: 15px;
    --row-spacing: 30px;

    /* BORDER RADIUS */
    --product-card-border-radius: 30px;
    --product-card-border-radius-mob: 10px;
    --image-border-radius: 30px;
    --input-border-radius: 15px;
    --btn-border-radius: 10px;
    
    --animation-duration--fast: 0.25s;
    --animation-duration--medium: 0.35s;
    --animation-duration--slow: 0.5s;
    --animation-duration--long: 0.6s;
    --animation-easing: ease-in-out;
    --animation-easing--smooth: cubic-bezier(0.3, 1, 0.3, 1);
  }

  * {
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    word-break: break-word;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    box-sizing: border-box;
    font-size: calc(var(--font-body-scale) * 62.5%);
    height: 100%;
    padding-bottom: 0 !important;
  }

  body::selection {
    background: #000;
    color: #fff;
  }

  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100svh;
  }

  main#MainContent {
    flex: 1;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }

  p {
    text-wrap: pretty;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  p:empty {
    display: none;
  }

  @media screen and (max-width: 768px) {
    :root {
        /* BORDER RADIUS */
      --section-border-radius: calc(30px / 2);
      --product-card-border-radius: calc(30px / 2);
      --image-border-radius: calc(30px / 2);

    }
  }
