.newsletter-form .custom-button{
    max-width: 70px;
}
.newsletter-form .email-exists[aria-hidden="true"]{display: none;}
.newsletter-form .invalid-email[aria-hidden="true"]{display: none;}
.newsletter-form .custom-input-wrapper{
    border-radius: var(--input-radius) 0 0 var(--input-radius);
}
.newsletter-form .custom-button{
    border-radius: 0 var(--button-radius) var(--button-radius) 0;
}
.newsletter-form .newsletter-form__content{
    justify-content: var(--justify-content);
}