.product[data-id="template--27304712470809__featured_product_38eqkx"]{
    --media-width: 50%;
    --content-width: 50%;
  }
  .product[data-id="template--27304712470809__featured_product_38eqkx"] .product-media{
    --order: 1;
  }
  .product[data-id="template--27304712470809__featured_product_38eqkx"] .product-content{
    --order: 2;
  }

  
    .product[data-id="template--27304712470809__featured_product_38eqkx"] [data-block][data-index="1"]{
      --block-padding-top: clamp(0px, 30vw, 10px);
      --block-padding-bottom: clamp(0px, 30vw, 10px);
    }
    
    
  
    .product[data-id="template--27304712470809__featured_product_38eqkx"] [data-block][data-index="2"]{
      --block-padding-top: clamp(0px, 30vw, 0px);
      --block-padding-bottom: clamp(0px, 30vw, 10px);
    }
    
        .product[data-id="template--27304712470809__featured_product_38eqkx"] .vendor {
          --font-size: 1.0em;
        }
      
  
    .product[data-id="template--27304712470809__featured_product_38eqkx"] [data-block][data-index="3"]{
      --block-padding-top: clamp(0px, 30vw, 0px);
      --block-padding-bottom: clamp(0px, 30vw, 10px);
    }
    
    
  
    .product[data-id="template--27304712470809__featured_product_38eqkx"] [data-block][data-index="4"]{
      --block-padding-top: clamp(0px, 30vw, 0px);
      --block-padding-bottom: clamp(0px, 30vw, 20px);
    }
    
        .product[data-id="template--27304712470809__featured_product_38eqkx"] .price {
          --font-size: 1.0em;
        }
      
  
    .product[data-id="template--27304712470809__featured_product_38eqkx"] [data-block][data-index="5"]{
      --block-padding-top: clamp(0px, 30vw, 0px);
      --block-padding-bottom: clamp(0px, 30vw, 20px);
    }
    
        .product[data-id="template--27304712470809__featured_product_38eqkx"] .inventory {
          --color-badge-in-stock: #8cce8f;
          --color-badge-low-stock: #ea8537;
          --color-badge-out-stock: #000000;
        }
      
  
    .product[data-id="template--27304712470809__featured_product_38eqkx"] [data-block][data-index="6"]{
      --block-padding-top: clamp(0px, 30vw, 0px);
      --block-padding-bottom: clamp(0px, 30vw, 10px);
    }
    
        .product[data-id="template--27304712470809__featured_product_38eqkx"] .body-text[data-index="6"] {
          --font-size: 1.0em;
        }
      
  
    .product[data-id="template--27304712470809__featured_product_38eqkx"] [data-block][data-index="7"]{
      --block-padding-top: clamp(0px, 30vw, 20px);
      --block-padding-bottom: clamp(0px, 30vw, 0px);
    }
    
        .product[data-id="template--27304712470809__featured_product_38eqkx"] .body-text[data-index="7"] {
          --font-size: 1.0em;
        }
      
  
    .product[data-id="template--27304712470809__featured_product_38eqkx"] [data-block][data-index="8"]{
      --block-padding-top: clamp(0px, 30vw, 20px);
      --block-padding-bottom: clamp(0px, 30vw, 10px);
    }
    
        .product[data-id="template--27304712470809__featured_product_38eqkx"] countdown-timer{
          --countdown-padding: 10px;
          --countdown-border-radius: 0px;
          --countdown-border-width: 0px;
          --font-size: 2.0em;
          --text-font-size: 0.7em;
          
            --color-background: rgb(var(--color-inner-background));
            --color-text: var(--color-inner-text);
          
        }
      
  
    .product[data-id="template--27304712470809__featured_product_38eqkx"] [data-block][data-index="9"]{
      --block-padding-top: clamp(0px, 30vw, 0px);
      --block-padding-bottom: clamp(0px, 30vw, 10px);
    }
    
        .product[data-id="template--27304712470809__featured_product_38eqkx"] .variant-selector{
          --input-width: 500px;
        }
      
  
    .product[data-id="template--27304712470809__featured_product_38eqkx"] [data-block][data-index="10"]{
      --block-padding-top: clamp(0px, 30vw, 0px);
      --block-padding-bottom: clamp(0px, 30vw, 10px);
    }
    
        .product[data-id="template--27304712470809__featured_product_38eqkx"] .product-form{
          --button-width: 500px;
        }
      
  
    .product[data-id="template--27304712470809__featured_product_38eqkx"] [data-block][data-index="11"]{
      --block-padding-top: clamp(0px, 30vw, 0px);
      --block-padding-bottom: clamp(0px, 30vw, 0px);
    }
    
    
  
    .product[data-id="template--27304712470809__featured_product_38eqkx"] [data-block][data-index="12"]{
      --block-padding-top: clamp(0px, 30vw, 0px);
      --block-padding-bottom: clamp(0px, 30vw, 0px);
    }
    
    
  
    .product[data-id="template--27304712470809__featured_product_38eqkx"] [data-block][data-index="13"]{
      --block-padding-top: clamp(0px, 30vw, 30px);
      --block-padding-bottom: clamp(0px, 30vw, 0px);
    }
