.bundle-products[data-id="template--27304712470809__bundle_products_3zgi3T"] {
         --padding-top: clamp(0px, 50vw, 40px);
        --padding-bottom: clamp(0px, 50vw, 30px);

        --height: 55vw;
        --mobile-height: 160vw;
        --media-position: absolute;
        --mobile-media-position: absolute;
        --overlay-opacity: 0%;
        --hotspot-icon-color: #ffffff;

        --product-list-padding: 23px;
        --product-list-border-radius: 16px;
        --product-list-border-width: 0px;

        --product-list-shadow: 0 2px 8px rgba(0, 0, 0, var(--box-shadow-intensity));
        
        
        --image-margin-inline: auto 0;
        --product-list-left: 0;
        --product-list-right: auto;
        

        
        --product-list-color-background: rgb(var(--color-inner-background));
        --product-list-color-text: var(--color-inner-text);
        
    }

    
    .bundle-products[data-id="template--27304712470809__bundle_products_3zgi3T"] .bundle-products__hotspot[data-index="1"] {
        --horizontal-pos: 37%;
        --vertical-pos: 20%;
        --horizontal-pos-mobile: 33%;
        --vertical-pos-mobile: 53%;

        
            --left: 0;
            --right: unset;
        

        
            --top: calc(100% + 20px);
            --bottom: unset;
            --bottom-arrow: 100%;
            --top-arrow: unset;
            --arrow-rotate: 0;
        

        
            --left-mobile: 0;
            --right-mobile: unset;
        

        
            --top-mobile: unset;
            --bottom-mobile: calc(100% + 20px);
            --bottom-arrow-mobile: unset;
            --top-arrow-mobile: 100%;
            --arrow-rotate-mobile: 180deg;
        

        
    }
    
    .bundle-products[data-id="template--27304712470809__bundle_products_3zgi3T"] .bundle-products__hotspot[data-index="2"] {
        --horizontal-pos: 78%;
        --vertical-pos: 62%;
        --horizontal-pos-mobile: 70%;
        --vertical-pos-mobile: 50%;

        
            --left: unset;
            --right: 0;
        

        
            --top: unset;
            --bottom: calc(100% + 20px);
            --bottom-arrow: unset;
            --top-arrow: 100%;
            --arrow-rotate: 180deg;
        

        
            --left-mobile: unset;
            --right-mobile: 0;
        

        
            --top-mobile: calc(100% + 20px);
            --bottom-mobile: unset;
            --bottom-arrow-mobile: 100%;
            --top-arrow-mobile: unset;
            --arrow-rotate-mobile: 0;
        

        
    }
    
    .bundle-products[data-id="template--27304712470809__bundle_products_3zgi3T"] .bundle-products__hotspot[data-index="3"] {
        --horizontal-pos: 57%;
        --vertical-pos: 76%;
        --horizontal-pos-mobile: 50%;
        --vertical-pos-mobile: 60%;

        
            --left: unset;
            --right: 0;
        

        
            --top: unset;
            --bottom: calc(100% + 20px);
            --bottom-arrow: unset;
            --top-arrow: 100%;
            --arrow-rotate: 180deg;
        

        
            --left-mobile: 0;
            --right-mobile: unset;
        

        
            --top-mobile: unset;
            --bottom-mobile: calc(100% + 20px);
            --bottom-arrow-mobile: unset;
            --top-arrow-mobile: 100%;
            --arrow-rotate-mobile: 180deg;
        

        
    }
    
    .bundle-products[data-id="template--27304712470809__bundle_products_3zgi3T"] .bundle-products__hotspot[data-index="4"] {
        --horizontal-pos: 16%;
        --vertical-pos: 55%;
        --horizontal-pos-mobile: 15%;
        --vertical-pos-mobile: 67%;

        
            --left: 0;
            --right: unset;
        

        
            --top: unset;
            --bottom: calc(100% + 20px);
            --bottom-arrow: unset;
            --top-arrow: 100%;
            --arrow-rotate: 180deg;
        

        
            --left-mobile: 0;
            --right-mobile: unset;
        

        
            --top-mobile: unset;
            --bottom-mobile: calc(100% + 20px);
            --bottom-arrow-mobile: unset;
            --top-arrow-mobile: 100%;
            --arrow-rotate-mobile: 180deg;
        

        
    }
    
    .bundle-products[data-id="template--27304712470809__bundle_products_3zgi3T"] .bundle-products__hotspot[data-index="5"] {
        --horizontal-pos: 94%;
        --vertical-pos: 20%;
        --horizontal-pos-mobile: 81%;
        --vertical-pos-mobile: 62%;

        
            --left: unset;
            --right: 0;
        

        
            --top: calc(100% + 20px);
            --bottom: unset;
            --bottom-arrow: 100%;
            --top-arrow: unset;
            --arrow-rotate: 0;
        

        
            --left-mobile: unset;
            --right-mobile: 0;
        

        
            --top-mobile: unset;
            --bottom-mobile: calc(100% + 20px);
            --bottom-arrow-mobile: unset;
            --top-arrow-mobile: 100%;
            --arrow-rotate-mobile: 180deg;
        

        
    }
